@import 'tailwindcss';

/* Hide scrolling and force no overflow */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #F6F6F6;
  height: 100vh;
}

@layer base {
  html, body {
    font-family: 'Lato', sans-serif;
  }
}
@keyframes fly-into-bag {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(180px) scale(0.3);
    opacity: 0;
  }
}

.animate-fly-into-bag {
  animation: fly-into-bag 750ms ease-in-out forwards;
}
