@import 'tailwindcss';

/* Hide scrolling and force no overflow */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #F6F6F6;
  height: 100vh;
}

@layer base {
  html, body {
    font-family: 'Lato', sans-serif;
  }
}